.header {
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  padding: 10px 10px;
  background-image: url("/images/header-background3.jpg");

  background-size: cover;
  background-position: center;
  color: #333333;
  h1 {
    margin: 0;
  }
  h2 {
    margin: 0;
    font-size: 12px;
  }
}
