html {
  font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f2f2f2;
}
main {
  margin-left: 200px; /* Same as the width of the sidebar */
  padding: 0px 10px;
  height: 100%;
}
